{
  "env": {
    "es5": {
      "presets": [
        ["@babel/env", {modules: 'commonjs'}],
        "@babel/flow"
      ],
      "plugins": [
        "@babel/transform-runtime",
        "@babel/proposal-class-properties",
        "version-inline"
      ]
    },
    "esm": {
      "presets": [
        ["@babel/env", {modules: false}],
        "@babel/flow"
      ],
      "plugins": [
        ["@babel/transform-runtime", { useESModules: true }],
        "@babel/proposal-class-properties",
        "version-inline"
      ]
    },
    "es6": {
      "presets": [
        [ "@babel/env", {
          "targets": {
            "chrome": "60",
            "edge": "15",
            "firefox": "53",
            "ios": "10.3",
            "safari": "10.1",
            "node": "8"
          },
          "modules": false
        }],
        "@babel/flow"
      ],
      "plugins": [
        ["@babel/transform-runtime", { useESModules: true }],
        "@babel/proposal-class-properties",
        "version-inline"
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {modules: 'commonjs'}]
      ],
      "plugins": [
        "istanbul",
        "@babel/transform-runtime",
        "@babel/proposal-class-properties",
        "version-inline"
      ]
    }
  }
}
