{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype"
  ],
  "extends": [
    "eslint-config-uber-jsx",
    "eslint-config-uber-es2015"
  ],
  "rules": {
    "guard-for-in": 0,
    "no-inline-comments": 0,
    "no-invalid-this": 0,
    "flowtype/define-flow-type": "error",
    "flowtype/use-flow-type": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
